.frame {
  --frame-border-width: 32px;
  box-sizing: border-box;
  min-height: calc(var(--frame-border-width) * 2);
  min-width: calc(var(--frame-border-width) * 2);
  pointer-events: none;
  position: relative;
  z-index: 40;
}

.frame > span {
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

.cornerTopLeft,
.cornerTopRight,
.cornerBottomLeft,
.cornerBottomRight {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: var(--frame-border-width);
  width: var(--frame-border-width);
}

.cornerTopLeft {
  background-image: url("/ui-lab/component-assets/button-box-frame/corner_top_left.png");
  left: 0;
  top: 0;
}

.cornerTopRight {
  background-image: url("/ui-lab/component-assets/button-box-frame/corner_top_right.png");
  right: 0;
  top: 0;
}

.cornerBottomLeft {
  background-image: url("/ui-lab/component-assets/button-box-frame/corner_bottom_left.png");
  bottom: 0;
  left: 0;
}

.cornerBottomRight {
  background-image: url("/ui-lab/component-assets/button-box-frame/corner_bottom_right.png");
  bottom: 0;
  right: 0;
}

.edgeTop,
.edgeBottom {
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: var(--frame-border-width);
  left: var(--frame-border-width);
  right: var(--frame-border-width);
}

.edgeTop {
  background-image: url("/ui-lab/component-assets/button-box-frame/edge_top.png");
  top: 0;
}

.edgeBottom {
  background-image: url("/ui-lab/component-assets/button-box-frame/edge_bottom.png");
  bottom: 0;
}

.edgeLeft,
.edgeRight {
  background-repeat: repeat-y;
  background-size: 100% auto;
  bottom: var(--frame-border-width);
  top: var(--frame-border-width);
  width: var(--frame-border-width);
}

.edgeLeft {
  background-image: url("/ui-lab/component-assets/button-box-frame/edge_left.png");
  left: 0;
}

.edgeRight {
  background-image: url("/ui-lab/component-assets/button-box-frame/edge_right.png");
  right: 0;
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding: var(--frame-border-width);
  position: relative;
  z-index: 2;
}
